::root
{
    --oxygen:#58668B;
        
}
body
{
    margin: 0px;
    padding: 0px;
}
body
{
    background-image: url("background.svg");
    height:100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
}
.mythemeback img
{
    width:30vw;
}
.navbar-dark .navbar-toggler-icon {
    background-image:  url(costumtoggler.svg);
}
.custom-link
{
    font-family: Oxygen;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    
    letter-spacing: 0.05em;
    color: #58668B;
}
